body {
  counter-reset: lvl;
}

.book .book-summary {
  font-size: 1em;
}

.book .book-summary ul.summary {
  background-repeat: no-repeat;
  background-size: 300px;
  padding-top: 200px;
}

.book .book-summary ul.summary li,
.book .book-summary ul.summary li a {
  color: white;
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active a {
  color: white;
}

.book .book-summary ul.summary li.header {
  color: white;
  font-weight: bold;
  border-bottom: 1px solid rgb(230, 34, 112);
}

#book-search-input,
.book .book-summary .book-search {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: white;
  margin: 10px;
  padding: 0;
}

#book-search-input input::-webkit-input-placeholder,
.book-search input::-webkit-input-placeholder { 
  color: white;
}

#book-search-input input::-moz-input-placeholder,
.book-search input::-moz-input-placeholder { 
  color: white;
}

#book-search-input input::-ms-input-placeholder,
.book-search input::-ms-input-placeholder { 
  color: white;
}

#book-search-input {
  border-bottom: 1px solid white;
}

.book .book-summary {
  background-color: rgb(84, 41, 131);
  box-shadow: inset -4px 0 0 rgb(230, 34, 112);
}

.book .book-summary ul.summary {
  background-color: rgb(84, 41, 131);
  background-image: url(logo.png);
  box-shadow: inset -4px 0 0 rgb(230, 34, 112);
}

.book .book-summary ul.summary li a:hover,
.book .book-summary ul.summary li.active > a {
  background-color: rgb(230, 34, 112);
}

.book .book-summary ul.summary li.active > a:hover {
  cursor: default;
}

li.chapter {
  text-decoration: none;
  position: relative;
}

.book .book-summary ul.summary > li > a {
  padding-left: 30px;
}

.book .book-summary ul.summary > li > ul > li > a {
  padding-left: 40px !important;
}

.book .book-summary ul.summary > li > ul > li > ul > li > a {
  padding-left: 50px !important;
}

.book .book-summary ul.summary > li > ul > li > ul > li > ul > li > a {
  padding-left: 60px !important;
}

.chapter-top::before {
  background-color: inherit;
  content: "§";
  height: 36px;
  line-height: 32px;
  margin-left: -20px;
  position: absolute;
  top: 0;
  z-index: 1;
}

.book .book-summary ul.summary > li > ul > li::before {
  left: 20px;
}

.book .book-summary ul.summary > li > ul > li > ul > li::before {
  left: 30px;
}

.book .book-summary ul.summary > li > ul > li > ul > li > ul > li::before {
  left: 40px;
}

li.chapter > a:not(.chapter-top),
.custom-link,
.gitbook-link {
  padding-left: 10px !important;
}

.page-inner {
  padding: 20px 25px 40px 25px !important;
}

.book-summary ul.summary li.divider {
  background-color: rgb(230, 34, 112);
}

.book-summary ul.summary li ul {
  padding-left: 0;
}

.markdown-section a {
  color: rgb(84, 41, 131) !important;
}
